<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DiscountProductNo" value="2" />
    <add key="DiscountUnit" value="7" />
  </appSettings>
  <connectionStrings>
    <add name="vbConnection" connectionString="Data Source=DESKTOP-805Q9Q9;Initial Catalog=F9999;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>